<h2 id="titulo">Cadastro de Produtos</h2>

<br><br>

<!-- Cadastrar / Alterar usuario -->
<section id="">

    <form action="http://localhost/startbootstrap-sb-admin-2-master/cadprod/cadastrarproduto" method="POST" id="">
        <input type="text" required name="nome-produto" id="nome" placeholder="Nome do produto" value="">
        <input type="text" name="descricao" placeholder="Descrição do produto" value="">
        <input type="number" required step="0.01" name="valor" min="0" placeholder="Valor">
        <input type="submit" value="Cadastrar">
    </form>
    
</section> 